###############################
# Author : Boni Yeamin        #
# Date:                       #
# This is LAMP Project        #
# Version : v1                #
###############################
# ansible-lamp-stack/roles/apache/templates/apache.conf.j2
ServerRoot "/etc/apache2"
